body {
}

/*NavBar*/
#navvy {
    margin-bottom: 0px;
    background-color: #474E5D;
    font-size: 18px;
}

#navvy a:hover {
    background: none;
}

.nav-items {
    float: right;
}

#navvy a {
    color: white;
}

#navvy a:hover {
    background: none;
}

/*Jumbotron*/
.mainOpen {
    background-image: url('Images/tuscany-villas-sant-anna.jpg');
    background-size: cover;
    height: 380px;
    text-align: center;
    color: white;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.header-picture {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.versilia {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    height: 380px;
    width: 330px;
}

.pushright {
    text-align: right;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    height: 380px;
}

.jumbo-right-pic {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    height: 380px;
    background-size: cover;
}

/*Locations*/
.locations {
    text-align: center;
    color: white;
    background-color: #474E5D;
    padding-top: 22px;
    padding-bottom: 18px;
}

.locations p {
    font-size: 20px;
}

.reserveNow {
    background-color: #474E5D;
}

.snowy {
    height: 300px;
    width: 100%;
    padding-right: 40px;
}

.imageMovement {
    padding: 0px 0px 0px 0px;
}

.lorem {
    padding-left: 60px;
}

.modern {
    height: 300px;
    width: 100%;
    padding-left: 20px;
}

.location2 {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #474E5D;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
}

#location3 {
    margin-bottom: 50px;
}

/*Grid*/
.grid-text {
    text-align: center;
}

.grid-images {
    width: 100%;
}

.grid-row {
    padding-left: 30px;
    padding-right: 30px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #474E5D;
    font-size: 25px;
    padding: 10px 15px 10px 15px;
    opacity: 0.85;
}

.grid-overlay {
    position: relative;
    text-align: center;
    color: white;
    padding-left: 0px;
    padding-right: 0px;
}

/*Reviews*/
.addMargin {
    margin-top: 60px;
}

.center-text {
    text-align: center;
}

.center-text h4 {
    font-style: italic;
}

.carousel-indicators {
    bottom: -43px;
}

.carousel-indicators li {
  background-color: #474E5D;
}

.carousel-indicators .active {
  background-color: #474E5D;
}

/*Comment*/
.glyph-move {
    margin-left: 50px;
}

.comment-move {
    padding-left: 110px;
}

.remove-margin {
    margin-right: 0px;
    margin-left: 70px;
}

.move-button {
    text-align: right;
    margin-top: 25px;
    margin-right: 15px;
}

/*Footer*/
.footer {
    text-align: center;
    color: white;
    background-color: #474E5D;
    padding-top: 22px;
    padding-bottom: 18px;
    margin-bottom: 0px;
    padding-top: 60px;
    padding-bottom: 40px;
}

.footer p {
    font-size: 14px;
}