body {
}

/*NavBar*/
#navvy {
    margin-bottom: 0px;
    background-color: #474E5D;
    font-size: 18px;
}

#navvy a:hover {
    background: none;
}

.nav-items {
    float: right;
}

#navvy a {
    color: white;;
}

#navvy a:hover {
    background: none;
}

/*Jumbotron*/
.mainOpen {
    background-image: url('Images/tuscany-villas-sant-anna.jpg');
    background-size: cover;
    height: 380px;
    text-align: center;
    color: white;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.header-picture {
    padding: 0px 0px 0px 0px;
}

.versilia {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    height: 380px;
}

.pushright {
    text-align: right;
    margin-bottom: 0px;
}

.jumbo-right-pic {
    padding: 0px 0px 0px 0px;
}

/*Locations*/
.locations {
    text-align: center;
    color: white;
    background-color: #474E5D;
    padding-top: 22px;
    padding-bottom: 18px;
}

.locations p {
    font-size: 20px;
}
